@keyframes toRight {
  to {
    left: 100%;
  }
}
@keyframes toLeft {
  to {
    right: 100%;
  }
}
@keyframes toTop {
  to {
    bottom: 100%;
  }
}
@keyframes toBottom {
  to {
    top: 100%;
  }
}
@keyframes crash {
  25% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
