html {
  user-select: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #938780;
}

.hit {
  background-color: red;
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s;
}

.crash {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}
.crash .box {
  width: 500px;
  height: 300px;
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.crash .box .warning {
  font-size: 35px;
  display: none;
  margin: 0;
}
.crash .box .sign {
  height: 50%;
  border: dashed yellow 2px;
  border-radius: 20px;
  display: block;
}
.crash .box .start-again {
  font-size: 25px;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 14vh 1fr 14vh 1fr 14vh 1fr 14vh;
  grid-template-columns: 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh;
  overflow: hidden;
  position: relative;
}

/* AUTO */
.auto {
  left: 1%;
  top: 5%;
  width: 9vh;
  height: 4vh;
  position: absolute;
  transition: transform 0.5s;
  z-index: 50;
}
.auto .auto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HOME */
.home {
  right: 0;
  bottom: 0;
  width: 18vh;
  position: absolute;
  z-index: 50;
}

/* KLEBER */
.kleber {
  width: 4vh;
  height: 4vh;
  background: url("./img/kleber.png") no-repeat;
  background-size: contain;
  position: absolute;
}

/* ROAD - HORIZONTAL */
.road-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 14vh 1fr 14vh 1fr 14vh 1fr 14vh;
  grid-template-columns: 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh;
  overflow: hidden;
  position: absolute;
  /* ROAD - VERTICAL */
  /* ROAD - BLANK  */
}
.road-container .road-h {
  width: 100%;
  background: url("./img/road-h.png");
  background-size: contain;
}
.road-container .road-h-1 {
  grid-row: 1/2;
  grid-column: 2/5;
}
.road-container .road-h-2 {
  grid-row: 1/2;
  grid-column: 6/9;
}
.road-container .road-h-3 {
  grid-row: 1/2;
  grid-column: 10/13;
}
.road-container .road-h-4 {
  grid-row: 3/4;
  grid-column: 2/5;
}
.road-container .road-h-5 {
  grid-row: 3/4;
  grid-column: 6/9;
}
.road-container .road-h-6 {
  grid-row: 3/4;
  grid-column: 10/13;
}
.road-container .road-h-7 {
  grid-row: 5/6;
  grid-column: 2/5;
}
.road-container .road-h-8 {
  grid-row: 5/6;
  grid-column: 6/9;
}
.road-container .road-h-9 {
  grid-row: 5/6;
  grid-column: 10/13;
}
.road-container .road-h-10 {
  grid-row: 7/9;
  grid-column: 2/5;
}
.road-container .road-h-11 {
  grid-row: 7/9;
  grid-column: 6/9;
}
.road-container .road-h-12 {
  grid-row: 7/9;
  grid-column: 10/13;
}
.road-container .road-v {
  width: 100%;
  background: url("./img/road-v.png");
  background-size: cover;
}
.road-container .road-v-1 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.road-container .road-v-2 {
  grid-row: 4/5;
  grid-column: 1/2;
}
.road-container .road-v-3 {
  grid-row: 6/7;
  grid-column: 1/2;
}
.road-container .road-v-4 {
  grid-row: 2/3;
  grid-column: 5/6;
}
.road-container .road-v-5 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.road-container .road-v-6 {
  grid-row: 6/7;
  grid-column: 5/6;
}
.road-container .road-v-7 {
  grid-row: 2/3;
  grid-column: 9/10;
}
.road-container .road-v-8 {
  grid-row: 4/5;
  grid-column: 9/10;
}
.road-container .road-v-9 {
  grid-row: 6/7;
  grid-column: 9/10;
}
.road-container .road-v-10 {
  grid-row: 2/3;
  grid-column: 13/14;
}
.road-container .road-v-11 {
  grid-row: 4/5;
  grid-column: 13/14;
}
.road-container .road-v-12 {
  grid-row: 6/7;
  grid-column: 13/14;
}
.road-container .road-b {
  width: 100%;
  background: url("./img/road-blank.png");
  background-size: cover;
}
.road-container .road-b-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.road-container .road-b-2 {
  grid-row: 1/2;
  grid-column: 5/6;
}
.road-container .road-b-3 {
  grid-row: 1/2;
  grid-column: 9/10;
}
.road-container .road-b-4 {
  grid-row: 1/2;
  grid-column: 13/14;
}
.road-container .road-b-5 {
  grid-row: 3/4;
  grid-column: 1/2;
}
.road-container .road-b-6 {
  grid-row: 3/4;
  grid-column: 5/6;
}
.road-container .road-b-7 {
  grid-row: 3/4;
  grid-column: 9/10;
}
.road-container .road-b-8 {
  grid-row: 3/4;
  grid-column: 13/14;
}
.road-container .road-b-9 {
  grid-row: 5/6;
  grid-column: 1/2;
}
.road-container .road-b-10 {
  grid-row: 5/6;
  grid-column: 5/6;
}
.road-container .road-b-11 {
  grid-row: 5/6;
  grid-column: 9/10;
}
.road-container .road-b-12 {
  grid-row: 5/6;
  grid-column: 13/14;
}
.road-container .road-b-13 {
  grid-row: 7/8;
  grid-column: 1/2;
}
.road-container .road-b-14 {
  grid-row: 7/8;
  grid-column: 5/6;
}
.road-container .road-b-15 {
  grid-row: 7/8;
  grid-column: 9/10;
}
.road-container .road-b-16 {
  grid-row: 7/8;
  grid-column: 13/14;
}

/* SAND */
.sand-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 14vh 1fr 14vh 1fr 14vh 1fr 14vh;
  grid-template-columns: 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh;
  overflow: hidden;
  position: absolute;
}
.sand-container .sand-1 {
  background: url("./img/houses.png");
  grid-row: 2/3;
  grid-column: 2/span 3;
}
.sand-container .sand-2 {
  background: url("./img/park.png");
  grid-row: 2/3;
  grid-column: 6/span 3;
}
.sand-container .sand-3 {
  background: url("./img/houses.png");
  grid-row: 2/3;
  grid-column: 10/span 3;
}
.sand-container .sand-4 {
  background: url("./img/park.png");
  grid-row: 4/5;
  grid-column: 2/span 3;
}
.sand-container .sand-5 {
  background: url("./img/houses.png");
  grid-row: 4/5;
  grid-column: 6/span 3;
}
.sand-container .sand-6 {
  background: url("./img/park.png");
  grid-row: 4/5;
  grid-column: 10/span 3;
}
.sand-container .sand-7 {
  background: url("./img/houses.png");
  grid-row: 6/7;
  grid-column: 2/span 3;
}
.sand-container .sand-8 {
  background: url("./img/park.png");
  grid-row: 6/7;
  grid-column: 6/span 3;
}
.sand-container .sand-9 {
  grid-row: 6/7;
  grid-column: 10/span 3;
  position: relative;
}
.sand-container .sand {
  width: 100%;
  background-size: contain;
  background-position: center;
}

/* CYCLER */
.cycler-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 14vh 1fr 14vh 1fr 14vh 1fr 14vh;
  grid-template-columns: 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh 1fr 14vh;
  overflow: hidden;
  position: absolute;
}
.cycler-container .cycler {
  width: 5vh;
  height: 5vh;
  background: url("./img/cycle.png");
  background-size: contain;
  position: absolute;
  z-index: 50;
}
.cycler-container .cyclerToRight {
  left: -5%;
  top: 37%;
  animation: toRight 15s linear infinite forwards;
}
.cycler-container .cyclerToLeft {
  transform: scaleX(-1);
  right: -5%;
  top: 0;
  animation: toLeft 15s linear infinite forwards;
}
.cycler-container .cyclerToTop {
  right: 93.5%;
  bottom: -5%;
  transform: rotate(-90deg);
  animation: toTop 15s linear infinite forwards;
}
.cycler-container .cyclerToBottom {
  right: 30%;
  top: -5%;
  transform: rotate(90deg);
  animation: toBottom 15s linear infinite forwards;
}

@keyframes toRight {
  to {
    left: 100%;
  }
}
@keyframes toLeft {
  to {
    right: 100%;
  }
}
@keyframes toTop {
  to {
    bottom: 100%;
  }
}
@keyframes toBottom {
  to {
    top: 100%;
  }
}
@keyframes crash {
  25% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}

/*# sourceMappingURL=style.css.map */
